/* DeliveryDetailsForm.css */
.delivery-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue;
  }

  .input_form{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    margin-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 150px;
    padding-left: 0px;

    
  }

  form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .delivery-form {
    display: flex;
    flex-direction: column;
    width: 3px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
  }
  
  button:hover {
    background-color: black;
    color: white;
  }
  